<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改专业库')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-major-edit" th:object="${major}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">学校名称：</label>
                <div class="col-sm-8">
                    <input name="uniName" th:field="*{uniName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">学校代码：</label>
                <div class="col-sm-8">
                    <input name="uniCode" th:field="*{uniCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">方向：</label>
                <div class="col-sm-8">
                    <input name="uniDirection" th:field="*{uniDirection}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">专业名称：</label>
                <div class="col-sm-8">
                    <input name="majorName" th:field="*{majorName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">专业代码：</label>
                <div class="col-sm-8">
                    <input name="majorCode" th:field="*{majorCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">首选科目:物理/历史：</label>
                <div class="col-sm-8">
                    <input name="firstRequest" th:field="*{firstRequest}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">次选科目：除物历外的科目。若无要求，则写任选：</label>
                <div class="col-sm-8">
                    <input name="secondRequest" th:field="*{secondRequest}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最低分数：</label>
                <div class="col-sm-8">
                    <input name="majorLowScore" th:field="*{majorLowScore}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最低分排名：</label>
                <div class="col-sm-8">
                    <input name="majorLowRank" th:field="*{majorLowRank}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/major";
        $("#form-major-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-major-edit').serialize());
            }
        }
    </script>
</body>
</html>