<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('专业查询列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>学校名称：</label>
                                <input type="text" name="uniName"/>
                            </li>
                            <li>
                                <label>专业名称：</label>
                                <input type="text" name="majorName"/>
                            </li>
                            <li>
                                <label>专业代码：</label>
                                <input type="text" name="majorCode"/>
                            </li>
                            <li>
                                <label>首选科目:</label>
                                <input type="text" name="firstRequest"/>
                            </li>
<!--                            <li>-->
<!--                                <label>次选科目：除物历外的科目。若无要求，则写任选：</label>-->
<!--                                <input type="text" name="secondRequest"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>最低分数：</label>-->
<!--                                <input type="text" name="majorLowScore"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>最低分排名：</label>-->
<!--                                <input type="text" name="majorLowRank"/>-->
<!--                            </li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

<!--            <div class="btn-group-sm" id="toolbar" role="group">-->
<!--                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:major:add">-->
<!--                    <i class="fa fa-plus"></i> 添加-->
<!--                </a>-->
<!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:major:edit">-->
<!--                    <i class="fa fa-edit"></i> 修改-->
<!--                </a>-->
<!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:major:remove">-->
<!--                    <i class="fa fa-remove"></i> 删除-->
<!--                </a>-->
<!--                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:major:export">-->
<!--                    <i class="fa fa-download"></i> 导出-->
<!--                </a>-->
<!--            </div>-->
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:major:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:major:remove')}]];
        var prefix = ctx + "system/major";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "专业查询",
                columns: [
                //     {
                //     checkbox: true
                // },
                {
                    field: 'uniName',
                    title: '学校名称'
                },
                {
                    field: 'uniCode',
                    title: '学校代码'
                },
                {
                    field: 'uniDirection',
                    title: '方向'
                },
                {
                    field: 'majorName',
                    title: '专业名称'
                },
                {
                    field: 'majorCode',
                    title: '专业代码'
                },
                {
                    field: 'firstRequest',
                    title: '首选科目:物理/历史'
                },
                // {
                //     field: 'secondRequest',
                //     title: '次选科目：除物历外的科目。若无要求，则写任选'
                // },
                {
                    field: 'majorLowScore',
                    title: '最低分数'
                },
                {
                    field: 'majorLowRank',
                    title: '最低分排名'
                }
                // {
                //     title: '操作',
                //     align: 'center',
                //     formatter: function(value, row, index) {
                //         var actions = [];
                //         actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.uniName + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                //         actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.uniName + '\')"><i class="fa fa-remove"></i>删除</a>');
                //         return actions.join('');
                //     }
                // }
                ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>